@import 'https://fonts.googleapis.com/css?family=Cormorant:300,300i,400,400i,500,500i,600,600i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i';

body {
    font-family: "roboto", arial, sans-serif;
    font-weight:400;
    background-color:#F1F1F1;
    color:#333;
    margin:0;
}

a, a:visited {
    text-decoration: none;
    color:#d69e00;
}

a:hover {
    color:#e4b532;
}

.hero {
    background-color: #222;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: auto;
    
}

.hero-card{
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.73);
    color: #efefef;
    margin: 110px auto 60px auto;
    padding: 50px;
    max-width: 960px;
    text-align: center;
    box-shadow: 2px 1px 4px rgba(0,0,0,0;3);
}

.hero-card-title{
    font-family: Cormorant, cursive;
    margin: 0;
    font-size: 50px;

}

.hero-card-description {
    font-family: Cormorant, cursive;
    font-size: 30px;
    font-weight: 300;
    margin: 20px 0;
    
}

.hero-card-link {
    text-decoration: none;
    color: #efefef;
    font-size: 18px;
    border: 2px solid #efefef;
    border-radius: 18px;
    padding: 5px 20px;
    display: inline-block;
    transition: all 0.2s ease;
    
}

.hero-card-link:hover {
    color: #D69E00;
    border-color: #D69E00;
}

.main-content {
    margin: 50px auto;
    width: 960px;
}

footer {
    background-color:#333;
    color:#999;
    padding: 20px;
    text-align:center;
    
}

.footer-link {
    color:#AB810A;
    text-decoration:none;
    
}

.footer-link:hover {
    color:#D69E00;
    text-decoration: underline;
    
}

.main-nav {
    margin:20px auto;
    max-width: 960px;
    text-align:right;
}

a.nav-link{
    box-sizing: border-box;
    color:#fff;
    text-decoration: none;
    font-size: 20px;
    margin: 10px 5px;
    padding: 0px 15px;
    border: 2px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    height: 40px;
    line-height: 38px;
    font-family: cormorant, cursive;
    display:inline-block;
    border-radius: 20px;
    transition: all 0.2s ease;
    
}

a.nav-link:hover {
    color:#FFD86B;
    border-color:#FFD86B;
    background-color: rgba(0, 0, 0, 0.4);
    
}

.logo {
    float: left;
    margin-right: 100px;
    width: 0;
    height: 0;
    color: rgba(0, 0, 0, 0);
    padding: 154px 124px 0 0;
    background-size:154px 124px;
    background-image: url('images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    transition: all 0.2s ease;
    
}

.logo:hover {
    background-color: rgba(0,0,0,0.4);
}

.about-photo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.about-list-container {
    border-left: 5px solid #d69e00;
    margin-bottom: 50px;
    padding: 20px 50px;
    
}

.about-list-title{
    font-size: 30px;
    font-weight: 400;
    color: #d69e00;
}

.about-list{
    font-size: 24px;
    
}

.about-list li{
    margin: 1em auto;
    
}

.assignment-list dt {
    margin-top: 20px;
}

.assignment-list a {
    color: #3c8bce;
    font-size: 18px;
}

.assignment-list a:hover {
    color: #115690;
}

.assignment-list dd {
    margin-left: 0;
}

.coffee-quote {
    font-size: 30px;
    padding: 20px;
    margin: 20px 15px;
    border-left: 5px solid #D69E00;
    
}

cite {
    display: block;
    color: #666;
    font-size: 16px;
    
}

.menu th {
    padding: 10px;
}

.menu .size {
    min-width: 150px;
    text-align: right;
    font-size: 14px;
}

.menu td {
    padding: 10px 10px;
    vertical-align:top;
    text-align: right;
    
}

.menu dd {
    margin-left: 0;
    color: #666;
    font-style: italic;
    font-size: 14px;
    
}

.menu .label {
    text-align: left;
    
}

dt {
    font-size:20px;
    font-weight: bold;
    margin-bottom: 5px;
    
}

dd {
    color: #666;
    margin-left: 20px;
    margin-bottom: 20px;

}

.search-form {
    background-color: #ffffff;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
    padding: 40px;
}

label {
    margin-right: 10px;
    
}

input {
    border: 1px solid #ddd;
    height: 30px;
    width: 630px;
    font-size: 14px;
    padding: 0 10px;
    
}

button {
    background-color: #3C8BCE;
    height: 32px;
    margin-left: 10px;
    padding: 0 20px;
    border: 0;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    
}

.card {
    background-color: #fff;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    width: calc(33.3% - 20px);
    min-height: 310px;
    margin: 10px;
    float: left;
    text-decoration: none;
    color: #333;
    transition: all .2s ease;
}

.card:hover{
    transform: scale(1.025);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

.card-title{
    padding: 0 20px;
    margin: 20px 0 10px 0;
    font-family: Cormorant, cursive;
    font-size: 24px;
}

.card-description {
    padding: 0 20px;
    margin: 0 0 20px 0;
    color: #999;
}

.clear {
    clear:both;
    
}

#home .hero {
    background-image: url('images/ocean.jpg');
     /*photo by NASA https://hd.unsplash.com/photo-1451186859696-371d9477be93 */
}

#about .hero {
    background-image: url('images/blueberries.jpg');
    /*Photo from @veeterzy https://unsplash.com/search/blueberries?photo=Hc42xXu_WOg*/
}

#coffee .hero {
    background-image: url('images/coffee.jpg');
    /*Photo from Jakub Kapusnak https://foodiesfeed.com/flatwhite-coffee-closeup-berlin*/
    
}

#search .hero {
    background-image: url('images/sky.jpg');
    /* Photo from Drew Collins https://unsplash.com/?photo=U713MZX1x0w*/
}

#assignments .hero {
    background-image: url('images/coast.jpg');
    /* photo from Stefan Kunze https://unsplash.com/?photo=_SmZSuZwkHg*/
}

