body {
    background-color:#f2f2f2;
    font-family: Muli ;
}


.logo {
    text-align: left;
    display:inline-block;
    margin: 30px ;
    padding:30px;
}

.main-nav{
    display:inline-block;
    text-align:right;
    width: 500px;
    margin-left:800px;
    margin-top:30px;
    padding-bottom: 50px;
    padding-top: 0px;
}

.navbutton {
    text-decoration: none;
    font-size: 15px;
    color: #000000 ;
    padding:10px 50px;
}

.navbutton:hover {
    color: blue ;
}

