nav {
    font-family: sans-serif;
    background-color: #333333;
    font-size: 15px;
    margin: 5px;
    text-align: center;
}

.nav-link {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    margin: 5px;
}

.aqua {
    color:#53F1E5;
}

.blue {
    color:#0B56DA;
}

.orange {
    color: #F4BD44;
}

.pink {
    color: #F24263;
}

.hero{
    background-image: url('images/snow-blue.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    background-position: center center;
}